@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Mono|Open+Sans|Heebo');
$primary-color: #03A9F4;
$light-primary-color:#B3E5FC;
$dark-primary-color: #0288D1;
$secondary-color: #FFFFFF;
$third-color: #1976D2;
$divider-color: #BDBDBD;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #9E9E9E;

body {
  background: $secondary-color;
  box-sizing: border-box;
  height: 100vh;
  @media screen and (max-width: 767px) {
    height: 100%;
  }
  padding-top: 0px;
  font-family: Open Sans;
}

#root{
  height: 100%;
}

.box {
  height: 100%;
  display: flex;
  flex-flow: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: lightgrey; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vmin;
  min-height: 70px;
  background-color: $third-color;
  border-bottom: 1px solid #BDBDBD;
  color: white;
  box-shadow: 0px -5px 20px 0px black;

  p {
    font-size: 50px;
    font-style: italic;
    font-family: Lobster;
    letter-spacing: 0px;
  }

  img {
    height: 55px;
    width: 55px;
    margin-left: 20px;
  }
}

#app-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 2vmin;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .section {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    box-shadow: 0px 0px 5px 0px lightgrey;
    width: 50%;
    @media screen and (max-width: 767px) {
      width: 100%;
      min-height: 48vmin;
    }
    border: 1px solid $divider-color;
    background-color: white;
    overflow: hidden;
  }

  .left {
    @extend .section;
    margin-right: 5px;
    @media screen and (max-width: 767px) {
      margin-right: 0px;
      margin-bottom: 5px;
    }
    display: flex;
    flex-flow: column;

    .task-bar {
      height: 80px;

      form {
        height: 100%;
        
        ::-webkit-input-placeholder {
          color: rgba(255,255,255,0.75);
        }

        input {
          height: 100%;
          width: 100%;
          font-size: 22px;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          border: 0px;
          border-bottom: 1px solid $divider-color;
          box-sizing: border-box;
          background-color: $primary-color;
          color: white;
        }

        input:focus {
          outline: none;
        }
      }
    }

    .task-manager {
      display: flex;
      flex-flow: column;
      flex-grow: 1;

      .status-form {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        height: 39px;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.2);

        .selected {
          box-shadow: 0px 0px 5px 1px $divider-color inset;
        }

        div {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; 
          border-left: 1px solid rgba(0,0,0,0.1);

          p {
            font-size: 20px;
            margin-left: 5px;
            margin-right: 10px;
          }
        }
      }

      .tabs-box {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        height: 35px;
        overflow-x: auto;
        white-space: nowrap;
        
        .tab {
          padding: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin: 5px;
          margin-top: 0px;
          color: grey;
          font-size: 20px;
        }
      
        .open {
          color: black;
          border-bottom: 1px black solid;
        }
      }

      .task-list{
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        background-color: whitesmoke;
        overflow-y: auto;
        border-top: 1px solid $divider-color;
      }
    }
  }

  .right {
    @extend .section;
    display: flex; 
    flex-flow: column;
    margin-left: 5px;
    @media screen and (max-width: 767px) {
      margin-left: 0px;
      margin-top: 5px;
    }
    
    .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
        .clock {
          text-align: center;
          box-sizing: border-box;
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 50px;
          height: 80px;
          width: 100%;
          background-color: $primary-color;
          color: white;
          border-bottom: 1px solid $divider-color;
          font-family: Roboto Mono;
        }

        div {
          display: flex; 
          width: 100%;
          border-bottom: 1px solid rgba(0,0,0,0.2);

          .selected {
            box-shadow: 0px 0px 5px 1px $divider-color inset;
          }

          button {
            box-sizing: border-box;
            width: 100%;
            height: 38px;
            border-left: 1px solid rgba(0,0,0,0.1);
            background-color: white;
            font-size: 20px;
          }
        }

    }

    .task-queue {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      background-color: whitesmoke;
      overflow-y: auto;
      border-top: 1px solid $divider-color;
      ::selection {
        background-color:Transparent;
      }
    }
  }
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $divider-color;
  border-right: 0px;
  border-left: 0px;
  min-height: 80px;
  background-color: white;
  margin-bottom: 2px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
    max-width: 50%;

    .task-name {
      margin-bottom: 10px;
      font-size: 20px;
      max-width: 100%;
      overflow-wrap: break-word;
      color: $primary-text-color;
    }

    .task-tags {
      color: $secondary-text-color;
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }

  button {
    margin: 20px;
    height: 20px;
    width: 20px;
  }
}

.break-box {
  @extend .task-box; 
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 47px;
  min-height: 47px;

  div {

    .task-name {
      font-size: 18px;
      margin-bottom: 5px;
      display: none;
    }

    .task-tags {
      color: black;
    }

  }

  h4 {
    margin: 20px;
    height: 20px;
    width: 20px;
  }
}