/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

button:focus {
  outline: none; }

body {
  background: #ECEEEE;
  padding: 20px;
  box-sizing: border-box; }

#root {
  height: 100%; }

#app-box {
  height: 100%; }

.task-bar {
  border: 1px solid black;
  padding: 15px; }
  .task-bar button {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px; }

.center-console {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 100%; }
  .center-console .right {
    height: 100%;
    width: 45%; }
    .center-console .right .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .center-console .right .timer .clock {
        font-size: 20px; }
      .center-console .right .timer button {
        border: 1px solid black;
        padding: 2px;
        margin: 10px;
        background-color: white; }
    .center-console .right .task-queue {
      border: 1px solid black;
      padding: 15px; }

.task-manager {
  width: 45%;
  border: 1px solid black;
  padding: 15px; }
  .task-manager .tabs-box {
    overflow-x: auto;
    white-space: nowrap; }
    .task-manager .tabs-box .tab {
      padding: 5px;
      padding-bottom: 0px;
      margin: 5px;
      margin-bottom: 15px;
      margin-top: 0px;
      color: grey; }
    .task-manager .tabs-box .open {
      color: black;
      border-bottom: 1px black solid; }
  .task-manager .status-form {
    display: flex;
    justify-content: space-between;
    width: 45%; }

.task-box, .break-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  min-height: 75px;
  background-color: white; }
  .task-box div, .break-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px; }
    .task-box div .task-name, .break-box div .task-name {
      margin-bottom: 10px;
      font-size: 20px; }
    .task-box div .task-tags, .break-box div .task-tags {
      color: grey; }
  .task-box button, .break-box button {
    margin: 20px;
    height: 20px;
    width: 20px; }

.break-box {
  background-color: whitesmoke;
  min-height: 0px;
  height: 47px; }
  .break-box div .task-name {
    font-size: 18px;
    margin-bottom: 5px;
    display: none; }
  .break-box div .task-tags {
    color: black; }
  .break-box h4 {
    margin: 20px;
    height: 20px;
    width: 20px; }

/*# sourceMappingURL=app.css.map */
