@import 'reset';

body {
  background: #ECEEEE;
  padding: 20px;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

#app-box {
  height: 100%;
}

.task-bar {
  border: 1px solid black;
  padding: 15px;

  button {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
  }
}

.center-console {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 100%;

  .right {
    height: 100%;
    width: 45%;
    
    .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;

        .clock {
          font-size: 20px;
        }

        button {
          border: 1px solid black;
          padding: 2px;
          margin: 10px;
          background-color: white;
        }
    }

    .task-queue {
      //border: 1px solid black;
      //padding: 15px;
      ::selection {
        background-color:Transparent;
      }
    }

  }
}

.task-manager {
  width: 45%;
  //border: 1px solid black;
  padding: 15px;

  .tabs-box {
    overflow-x: auto;
    white-space: nowrap;
    
    .tab {
      padding: 5px;
      padding-bottom: 0px;
      margin: 5px;
      margin-bottom: 15px;
      margin-top: 0px;
      color: grey;
    }
  
    .open {
      color: black;
      border-bottom: 1px black solid;
    }
  }

  .status-form {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 15px;
  }

}

 
.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  min-height: 75px;
  background-color: white;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;

    .task-name {
      margin-bottom: 10px;
      font-size: 20px;
    }

    .task-tags {
      color: grey;
    }
  }

  button {
    margin: 20px;
    height: 20px;
    width: 20px;
  }
}

.break-box {
  @extend .task-box; 
  background-color: whitesmoke;
  min-height: 0px;
  height: 47px;

  div {

    .task-name {
      font-size: 18px;
      margin-bottom: 5px;
      display: none;
    }

    .task-tags {
      color: black;
    }

  }

  h4 {
    margin: 20px;
    height: 20px;
    width: 20px;
  }
}