/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

button:focus {
  outline: none; }

body {
  background: #FFFFFF;
  box-sizing: border-box;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px; }

#root {
  height: 100%; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: lightgrey;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }

#app-box {
  display: flex;
  justify-content: space-between;
  height: 100%; }
  #app-box .section, #app-box .left, #app-box .right {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    border: 1px solid #BDBDBD;
    border-top: 0px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden; }
  #app-box .left {
    margin-right: 5px;
    display: flex;
    flex-flow: column; }
    #app-box .left .task-bar {
      height: 80px; }
      #app-box .left .task-bar form {
        height: 100%; }
        #app-box .left .task-bar form ::-webkit-input-placeholder {
          color: whitesmoke; }
        #app-box .left .task-bar form input {
          height: 100%;
          width: 100%;
          font-size: 22px;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          border: 0px;
          border-bottom: 1px solid #BDBDBD;
          box-sizing: border-box;
          background-color: #03A9F4;
          color: white; }
        #app-box .left .task-bar form input:focus {
          outline: none; }
    #app-box .left .task-manager {
      display: flex;
      flex-flow: column;
      flex-grow: 1; }
      #app-box .left .task-manager .status-form {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        height: 39px;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        #app-box .left .task-manager .status-form .selected {
          background-color: lightgrey; }
        #app-box .left .task-manager .status-form div {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
          #app-box .left .task-manager .status-form div p {
            font-size: 20px;
            margin-left: 5px;
            margin-right: 10px; }
      #app-box .left .task-manager .tabs-box {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        height: 35px;
        overflow-x: auto;
        white-space: nowrap; }
        #app-box .left .task-manager .tabs-box .tab {
          padding: 5px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin: 5px;
          margin-top: 0px;
          color: grey;
          font-size: 20px; }
        #app-box .left .task-manager .tabs-box .open {
          color: black;
          border-bottom: 1px black solid; }
      #app-box .left .task-manager .task-list {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        background-color: whitesmoke;
        overflow-y: auto;
        border-top: 1px solid #BDBDBD; }
  #app-box .right {
    margin-left: 5px; }
    #app-box .right .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #app-box .right .timer .clock {
        font-size: 50px; }
      #app-box .right .timer button {
        border: 1px solid black;
        padding: 2px;
        margin: 10px;
        background-color: white; }
    #app-box .right .task-queue ::selection {
      background-color: Transparent; }

.task-box, .break-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #BDBDBD;
  border-right: 0px;
  border-left: 0px;
  min-height: 80px;
  background-color: white;
  margin-bottom: 2px; }
  .task-box div, .break-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
    max-width: 50%; }
    .task-box div .task-name, .break-box div .task-name {
      margin-bottom: 10px;
      font-size: 20px;
      max-width: 100%;
      overflow-wrap: break-word;
      color: #212121; }
    .task-box div .task-tags, .break-box div .task-tags {
      color: #757575;
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; }
  .task-box button, .break-box button {
    margin: 20px;
    height: 20px;
    width: 20px; }

.break-box {
  background-color: whitesmoke;
  min-height: 0px;
  height: 47px; }
  .break-box div .task-name {
    font-size: 18px;
    margin-bottom: 5px;
    display: none; }
  .break-box div .task-tags {
    color: black; }
  .break-box h4 {
    margin: 20px;
    height: 20px;
    width: 20px; }

/*# sourceMappingURL=app.css.map */
